<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Anime Nav</title>
</head>
<body>
  <th:block th:fragment="navbar(activeLinkName)">
    <ul class="anime-nav">
      <li><a th:classappend="${activeLinkName} == 'details' ? 'active-link' : '' " class=" link-anime" th:href="@{/manga/admin/{id}(id = ${manga.id})}">Details</a></li>


    </ul>
  </th:block>
</body>
</html>