@media (max-width: 1060px) {
  .main-container {
    margin-top: 0;
  }

  .info-section {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 760px) {
  .image-box {
    width: 20rem;
    min-width: 20rem;
  }
  .image-box img {
    width: 20rem;
  }
}
@media (max-width: 450px) {
  .col-3 {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .col-3 {
    width: 40%;
  }
}
