@media (max-width: 1200px) {
  .popular-anime-dashboard h3 {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
  }
  .popular-anime-dashboard h3 a {
    margin-left: 0rem;
  }
  .content-area {
    /* background-color: #999; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
  }

  .content-area h2 {
    font-size: 1.8rem;
  }
  .content-area p {
    font-size: 1.4rem;
  }
}

@media (max-width: 1000px) {
  .review-section {
    width: 100%;
  }
  .welcome-image {
    margin-left: 4rem;
  }
  .welcome-image img {
    width: 20rem;
  }
  .content-area h2 {
    font-size: 1.4rem;
  }
  .content-area p {
    font-size: 1.4rem;
  }
}

@media (max-width: 800px) {
  .welcome-image {
    /* background-color: aqua; */
    margin-left: 0rem;
    width: 20rem;
  }
  .welcome-image img {
    width: 100%;
  }
  .welcome-area {
    width: 50.66666667%;
  }
  .welcome-area .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-area {
    margin-top: 5rem;
    margin-right: 0rem;
  }
  .review-section {
    margin-top: 4rem;
  }
}

@media (max-width: 650px) {
  .welcome-area {
    width: 100%;
  }
}
@media (max-width: 770px) {
  .content-area {
    margin-top: 1rem;
  }
}

@media (max-width: 540px) {
  .btn-arrow {
    padding: 10px;
  }
  .h4-carousel h4 {
    font-size: 1.8rem;
  }
  .title-logo-footer {
    border-bottom: #e99612 solid 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    height: 5rem;
    width: 20rem;
  }
}

@media (max-width: 400px) {
  .btn-arrow {
    padding: 7px;
  }
  .h4-carousel h4 {
    font-size: 1.8rem;
  }
  .carousel-inidicator {
    padding: 0.3rem 2rem;
  }
  .carousel-indicators {
    bottom: 1rem;
  }
}
